/*index.html과 연결된 CSS 파일 */
@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSans-kr.css);
@import url(https://necolas.github.io/normalize.css/8.0.1/normalize.css);
@import url(./fontello.css);

/* 숨김 제목 및 숨김 콘텐츠 */
.a11y-hidden,
legend {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: 0;
    overflow: hidden;
    clip-path: polygon(0 0, 0 0, 0 0);
    /*x, y, z*/
    clip: rect(0 0 0 0);
    clip: rect(0, 0, 0, 0);
}

/*body 안에 있는 모든 요소 박스사이징 초기화*/
body *,
body *::before,
body *::after {
    box-sizing: border-box;
}

html {
    font-size: 10px;
    /*html에 폰트 사이즈를 지정하고 자손에서 rem/em을 사용하면 html 폰트 사이즈만 조정하면 되기 때문에 수정이 용의함*/
}

body {
    font-family: 'Spoqa Han Sans', 'Sans-serif';
    /*'Spoqa Han Sans폰트 오류 시 'Sans-serif' 글꼴군으로 대체*/
    font-size: 1.4rem;
    color: #181818;
    background: #ccc;

    /*
    flex를 활용한 콘텐츠 가운데 정렬
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    */
}

/*링크 스타일*/
a {
    color: inherit;
    text-decoration: none;
    /*a태그 밑줄 없애기*/
}

/*skip nav*/
.skip-nav {
    display: none;
}

/*Layout*/
/*구형 콘텐츠 가운데 정렬*/
.header,
.visual,
.main,
.slogan {
    width: 940px;
    margin: 0 auto;
}

/*header*/
.header {
    position: relative;
    background: #fff;
    border-radius: 0 0 15px 15px;
    padding: 0 30px;
}


/*Logo*/
.logo {
    position: absolute;
    top: 50px;
    left: 65px;
    margin: 0;
}

/*안내 링크 목록*/
.member {
    margin: 0;
    padding-left: 0;
    list-style: none;
    text-align: right;
}

.member li {
    display: inline-block;
    padding: 2px 0;
    /*여기에 여백을 줘야 접근성(tab키로 접근했을때 포커스 테두리가 잘리지않고 잡힘*/
}

.member a {
    padding: 6px 0;
    /*a한테 여백을 줘야 클릭 면적이 넓어짐.*/
    display: inline-block;
}

/* navigation */

.navigation {
    padding-bottom: 35px;
}

.menu {
    background: linear-gradient(to bottom,
            #efa22f 0%,
            #ed702d 35%,
            #ed702d 70%,
            #efa22f 100%);
    /*currentColor: 현재 글자 칼라*/
    border-top: 2px solid currentColor;
    /*콘텐츠 간의 간격을 위한*/
    margin: 10px 0 0 0;
    /*여백 없애기*/
    padding-left: 0;
    /*리스트 앞 도형 없애기*/
    list-style: none;
    height: 47px;
    border-radius: 0 0 5px 5px;
    padding-left: 225px;
}

.menu-item {
    position: relative;
    float: left;
}

.menu-button {
    cursor: pointer;
    font-size: 1.6rem;
    color: #fff;
    font-weight: 700;
    background: transparent;
    line-height: 45px;
    display: block;
    padding: 0 20px;
    border: 0;
    border-left: 2px solid rgba(255, 255, 255, .5);
    text-shadow: 1px 0 0 #000, 0 1px 0 #000, -1px 0 0 #000, 0 -1px 0 #000;
    /*윤곽체 처럼 보이게 하기*/
}

.menu-act .menu-button {
    color: #ff0;
}

.menu-act .menu-button::after {
    content: "";
    display: block;
    border-top: 2px solid #000;
}

.sub-menu {
    /*콘텐츠 간의 간격을 위한*/
    margin: 0;
    /*여백 없애기*/
    padding-left: 0;
    /*리스트 앞 도형 없애기*/
    list-style: none;
    display: none;
    position: absolute;
    top: 47px;
    white-space: nowrap;
}

.sub-menu li,
.sub-menu a {
    display: inline-block;
}

.sub-menu a {
    padding: 8px 0;
    margin-right: 10px;
}

.sub-menu a::before {
    /*서브 메뉴에 아이콘 추가*/
    content: "\f192";
    font-family: 'fontello';
    display: inline-block;
    text-decoration: inherit;
    width: 1em;
    margin-right: .2em;
}

.sub-menu a:hover::before,
.sub-menu a:focus::before {
    /*서브 메뉴에 아이콘 추가*/
    content: "\e800";
}

.menu-act .sub-menu {
    display: block;
}

.sub-menu1,
.sub-menu2,
.sub-menu3 {
    left: 0;
}

.sub-menu4,
.sub-menu5,
.sub-menu6 {
    right: 0;
}


/*text 및 배경 애니메이션 -visual*/
@keyframes textAni {
    0% {
        /*from과 to 속성으로도 설정할 수 있음.*/
        font-size: 12px;
        color: rgba(0, 0, 0, 0);
        transform: translate(0, 0);
    }

    100% {
        font-size: 24px;
        color: rgba(0, 0, 0, 1);
        transform: translate(400px, 75px);
    }
}

@keyframes bgAni {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

.visual {
    height: 120px;
    /*원래 규격을 fix하는 것은 좋지 않지만 변경 계획이 없다면 괜찮음*/
    position: relative;
}

.visual::before,
.visual::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    /*
    animation-name: bgAni;
    animation-duration: 2000ms;
    animation-iteration-count: infinite; /*ani 횟수 조정 : 무한
    animation-direction: alternate;
    animation-timing-function: ease-in-out;
    */
    animation: bgAni 2000ms alternate infinite ease-in-out;
}

.visual::before {
    background-image: url(./images/ani_flower_01.png),
        url(./images/ani_flower_02.png);
    background-position: 0 -10px, 670px 0;
    /* 이미지 여백으로 잘리는 현상때문에 x,y축 조절*/
}

.visual::after {
    background-image: url(./images/ani_flower_03.png),
        url(./images/ani_flower_04.png);
    background-position: 300px 0, 800px 0;
    /* 이미지 여백으로 잘리는 현상때문에 x,y축 조절*/
    animation-delay: 1000ms;
}

.visual-text {
    width: 500px;
    margin: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
    animation-name: textAni;
    animation-duration: 3000ms;
    animation-fill-mode: forwards;
    /*position: absoulte; 위치조정을 위한 것->애니메이션으로 대체함*/
}


.main {
    background: #fff;
    /*
    신형으로 group 정렬 
    display: flex;
    flex-flow: row nowrap;
    padding: 30px;
    justify-content: space-between;
    */
    padding: 30px 15px;

    /*clearfix와 비슷한 효과,
    하지만 clearfix가 더 좋다.*/
    overflow: hidden;
    min-height: 450px;
}

/* 정렬을 위한 main의 class
.clearfix::after{
    content:"";
    display:block;
    clear: both;
} */

/* float 정렬을 위한 클래스
.clearfix{
    clear: both;
}
*/


.group {
    float: left;
    margin: 0 15px;
}

.group1 {
    width: 250px;
}


.group2 {
    width: 380px;
}

.group3 {
    width: 190px;
}

/*로그인*/

.login {
    background: radial-gradient(circle at right top, #efa22f, #ed702d);
    border-radius: 5px;
    box-shadow: 5px 5px 0 0 #ccc;
    padding: 15px 10px;
}

.login-heading {
    margin: 0;
    padding: 10px 10px 0 10px;
    color: #ff0;
    font-size: 1.6rem;
    font-weight: 700;
    text-indent: 10px;
    /*첫 줄 들여쓰기*/
}

.login-form {
    margin-top: 10px;
    padding: 10px;
    background: #fff;
    border-radius: 5px 5px 0 0;
}

.login-form fieldset {
    border: 0;
    border-bottom: 1px solid #000;
    padding: 0px;
    padding-bottom: 5px;
    margin: 0;
    position: relative;
}

.user-email,
.user-pw {
    margin-bottom: 5px;
}

.user-email *,
.user-pw * {
    vertical-align: middle;
}

.btn-login {
    position: absolute;
    top: 0;
    right: 0;
    width: 50px;
    height: 50px;
    padding: 0 4px;
    border: 0;
    border-radius: 3px;
    background: #ed702d;
    color: #fff;
}

.login-form label {
    width: 4em;
    display: inline-block;
}

.login-form input {
    width: 90px;
    height: 22px;
    border: 1px solid #ccc;
    padding: 1px 1px 1px 0.5em;
}

.login-member {
    background: #fff;
    padding: 2px 10px;
    margin: 0;
    list-style: none;
    border-radius: 0 0 5px 5px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    letter-spacing: -1px;
    /*자간 조절*/
}

.login-member li {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
}

.login-member .icon-right-open {
    color: #ed702d;
}

.login-member a {
    display: block;
    padding: 8px 0;
}

.signup {}

.find-pw {}

/*유효성 검사 배너*/
.validation {
    margin: 25px 0 0 0;
}

.validation-list {
    margin: 25px 0 0 0;
    list-style-type: none;
    padding-left: 0;
}

.validation-list a {
    display: block;
    border-radius: 20px;
    border: 1px solid #aaa;
    background: url(./images/validation_icon.png) no-repeat 
    25px 50% / 20px 20px, linear-gradient(to bottom, #eee, #ccc);
    padding: 8px 10px 8px 50px;
    margin-top: 10px;
}

.validation-list a:hover,
.validation-list a:focus {
    color: red;
}

/*웹 관련 용어*/

.term {
    border: 1px solid #aaa;
    background: linear-gradient(to top, #eee, #ccc);
    padding: 15px 20px;
    margin: 15px 0 0 0;
    border-radius: 5px;
}

.term-heading {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 1.6rem;
    font-weight: 700;
}

.term-list {
    margin: 15px 0 0 0;
}

.term-list>div {
    overflow: hidden;
}

.term-list>div:nth-child(even) {
    margin-top: 15px;
}

.term-list-subject {
    color: #296897;
}

.term-list-thumbnail {
    float: left;
}

.term-list-thumbnail img {
    /*block 상자 안에 inline 상자라서 밑단에 생기는 gap 때문에*/
    display: block;
}

.term-list-subject,
.term-list-brief {
    float: right;
    width: 145px;
}

.term-list dd {
    margin-left: 0;
}

.term-list div:nth-child(even) .term-list-subject,
.term-list div:nth-child(even) .term-list-brief {
    float: left;
}

.term-list div:nth-child(even) .term-list-thumbnail {
    float: right;
}

.term-list-brief {
    margin-top: 5px;
    line-height: 1.5;
}

/*검색*/
.search-form {
    background: #ccc linear-gradient(#ccc, #eee);
    /*앞에 ccc를 또 붙이는 이유는 호환성 때문이다.
    linear가 안될때를 상정해서 고정 배경색을 만들어준다.*/
    border: 1px solid #aaa;
    border-bottom-color: transparent;
    border-radius: 15px 15px 0 0;
    padding: 15px 25px 10px;
}

.search-form fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

.search-form-container {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
}

.search-form [name="search"] {
    border: 1px solid #aaa;
    border-radius: 3px;
    padding: 1px 1px 1px 0.5em;
    height: 22px;
    width: 190px;
}

.btn-search {
    background-color: #333;
    border: 1px solid #aaa;
    color: #fff;
    border-radius: 3px;
    height: 22px;
    padding: 0 10px;
}

/*보드*/
.board {
    position: relative;
    margin-top: 20px;
}

.notice-list,
.pds-list,
.notice-more,
.pds-more {
    display: none;
}

.is-active .notice-list,
.is-active .pds-list,
.is-active .notice-more,
.is-active .pds-more {
    display: block;
}

.tab {
    margin: 0;
    position: absolute;
    top: 0;
    left: 0;
}

.notice-heading{
    left:0;
}

.pds-heading{
    left: 83px;
}

.tab a {
    display: block;
    border-radius: 5px 5px 0 0;
    border: 1px solid #aaa;
    background: #ccc linear-gradient(#ccc, #eee);
    color: #999;
    font-size: 1.4rem;
    font-weight: 400;
    padding: 5px 15px;
}

.is-active .tab{
    z-index: 5;
}

.is-active .tab a {
    color: #ed702d;
    border-color: #ed702d #ed702d #fff #ed702d;
    background: #fff;
}

.notice-list,
.pds-list {
    width: 100%;
    list-style-type: none;
    padding-left: 0;
    margin: 0;
    background: #eee;
    padding-top: 45px;
    min-height: 170px;
}

.notice-list li,
.pds-list li{
    display: flex;
    flex-flow: row nowrap;
    margin-bottom: 10px;
}

.notice-list a,
.pds-list a{
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    width: 280px;
}

.notice-more,
.pds-more {
    position: absolute;
    /*UI 기준으로 터치 범위를 넓히기 위해*/
    padding: 8px;
    top: -8px;
    right: -8px;
}

.notice-more::before,
.pds-more::before {
    color: hsla(110, 50%, 30%, 1);
    /*색상환*/
}

/*새소식*/

.news::before{
    content: "";
    position: absolute;
    top: 35px;
    left: 0;
    width: 100%;
    height: 1px;
    background: #ccc linear-gradient(to right, #ccc, #fff);
}

.news{
    margin-top: 20px;
    position: relative;
}

.news-heading{
    font-size: 1.6rem;
    font-weight: 700;
    color: #ed702d;
    margin: 0;
}

.news-article{
    margin-top: 35px;
}

.news-article-link{
    display: grid;
    grid-template-columns: 130px 1fr;
    grid-template-rows: auto auto auto;
    grid-template-areas: 'thumbnail subject '
                         'thumbnail date'
                         'thumbnail brief';
}

.news-article-subject{
    margin: 0 0 5px 0;
    grid-area: subject;
    font-size: 1.5rem;
    /* grid-area: 1 /2; */
}

.news-article-date{
    grid-area: date;
    /* grid-area: 2 /2; */
}

.news-article-brief{
    margin: 10px 0 0;
    line-height: 1.5;
    grid-area: brief;
    /* grid-area: 3 / 2; */
}

.news-article-thumbnail{
    margin: 0;
    grid-area: thumbnail;
    /* grid-area: 1 / 1 / 4 / 2; */
}

.news-article-thumbnail figcaption{
    margin-top: 15px;
    margin-right: 18px;
    text-align: center;
}

 .news-article-thumbnail img{
    box-shadow: 0 15px 15px 0 #aaa;
}

.news-more{
    position: absolute;
    top: -8px;
    right: -8px;
    padding: 8px;
} */

.news-more::before{
    color: hsla(110, 50%, 30%, 1);
}


/* grid 사용 안 할 시!
.news-article{
    padding: 0 0 0 130px;
}

.news-article-thumbnail{
    position: absolute;
    margin: 0;
    top: 50px;
    left: 0;
} */


/*신규이벤트 및 관련사이트*/
.gradient-box{
    background: #ccc linear-gradient(#ccc, #eee);
    border: 1px solid #aaa;
    border-radius: 5px;
    padding: 10px;
}

.event{
    position: relative;
}

.event-heading,
.related-heading{
    font-size: 1.6rem;
    font-weight: 700;
    margin: 0;
}

.point-color{
    color: #ed702d;
}

.event-thumbnail img{
    border: 1px solid #aaa;
    box-shadow: 5px 5px 0 0 #aaa;
}

.event-brief {
    line-height: 1.5;
}

.event-brief em{
    font-style: normal;
}

.btn-prev,
.btn-next{
    border: 0;
    padding: 0;
    width: 19px;
    height: 18px;
    background: transparent url(./images/back_forward.png) 0 0 no-repeat;
}

.btn-next{
    background-position: -36px 0;
}

.btn-event{
    position: absolute;
    top:0;
    right: 0;
}

#eventDetail{

}

.event::after{
    content:"";
    position: absolute;
    top: 180px;
    width: 100%;
    height: 1px;
    background: #ccc linear-gradient(to right, red, yellow);
}

.related{

}

.related-heading{

}

.related-list{

}


/*슬로건*/
.slogan {
    background: lime;
}

.footer {
    background: pink;
    width: 100%;
}