@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSans-kr.css);
@import url(https://necolas.github.io/normalize.css/8.0.1/normalize.css);
@import url(./fontello.css);

html{
    font-size: 10px;
}

.a11y-hidden{
    position: absolute;
    width: 1px;
    height: 1px;
    margin: 0;
    overflow: hidden;
    clip-path: polygon(0 0, 0 0, 0 0);
    clip: rect(0 0 0 0);
    clip: rect(0, 0, 0, 0);
}

body *,
body *::before,
body *::after{
    box-sizing: border-box;
}

/*링크 스타일*/
a {
    color: inherit;
    text-decoration: none;
    /*a태그 밑줄 없애기*/
}

body {
    font-family: 'Spoqa Han Sans', 'Sans-serif';
    /*'Spoqa Han Sans폰트 오류 시 'Sans-serif' 글꼴군으로 대체*/
    font-size: 1.4rem;
    color: #181818;
    background: #ccc;
}

.header,
.visual,
.main,
.slogan {
    width: 940px;
    margin: 0 auto;
}

.skip-nav{
    display:none;
}

.header{
    border-radius: 0 0 15px 15px;
    background-color: #fff;
    padding: 0 30px;
    position: relative;
}

.logo{
    position: absolute;
}

.member{
    list-style-type: none;
    text-align: right;
}

.member li{
    display: inline-block;
}

.divider{

}

.navigation{
    padding-bottom: 35px;
}

.menu{
    background: linear-gradient(to bottom,
    #efa22f 0%,
    #ed702d 35%,
    #ed702d 70%,
    #efa22f 100%);
    list-style: none;
    height: 47px;
}

.menu-item{
    position: relative;
    float: left;
}

.menu-button{

}


.sub-menu{
    list-style-type: none;
}

.sub-menu1{

}